*{
	box-sizing: border-box;
}
body{
  background: #FBF9F1;
  padding-left: 40px;
  padding-right: 160px;
  padding-top: 20px;
  line-height: 1.68;
}
h3{
  font-family: 'Helvetica', sans-serif;
}

.mark{
  text-decoration: underline;
  font-family: Georgia;
}

.solo{
text-decoration: none;
}

.caja{
  background:gray;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

h1{
  font-family: serif;
}

.bluedemon{
  color:#77A8D2;
}
